.DS_Store
terraform/**/.terraform/
terraform/**/.generated/
terraform/**/*.tfstate
terraform/**/*.tfstate.*
terraform/environments/*/terraform.tfvars
terraform/environments/*/backend-config/*.conf
ansible/inventory/lab/hosts.ini
